[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/themes/axiom"]
	path = themes/themes/axiom
	url = https://github.com/marketempower/axiom.git
