html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

/* Homepage */

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

/* Page content */

.content {
    padding-top: 20px;
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

#fastSearch {
    visibility: visible;
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    width: 400px;
    height: 200px;
  }

  #fastSearch input {
    padding: 4px 10px;
    width: 100%;
    height: 41px;
    font-size: 1.6em;
    color: #aaa;
    font-weight: bold;
    background-color: #000;
    border-radius: 3px 3px 0px 0px;
    border: none;
    outline: none;
    text-align: left;
    display: inline-block;
  }

  #searchResults li {
    list-style: none;
    margin-left: 0em;
    background-color: #333;
    border-bottom: 1px dotted #000;
  }
    #searchResults li .title { font-size: 1.1em; margin-bottom: 10px; display: inline-block;}

  #searchResults { visibility: inherit; display: inline-block; width: 320px; }
  #searchResults a { text-decoration: none !important; padding: 10px; display: inline-block; }
    #searchResults a:hover, a:focus { outline: 0; background-color: #666; color: #fff; }