{{ partial "header" . }}

<table style="width:100%">
        <tr>
                <td>
                    </ul>
                    {{ partial "browse-by-cat.html" .}}
                </td>

            <td>
            
                <h2>{{ .Title }}</h2>
                {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}
                
             </td>

            <td>
                </ul>
                {{ partial "browse-by-tag.html" .}}
            </td>
    
        </tr>
    </table>
    
{{ partial "paginator" . }}
{{ partial "footer" . }}