{{ partial "header" . }}

<table style="width:100%">
    <tr>
        <td width="15%">
            </ul>
            {{ partial "browse-by-cat.html" .}}
        </td>

        <td>

            <h2>{{ .Title }}</h2>
            {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}
            {{ partial "paginator" . }}
            {{ partial "footer" . }}

        </td>

        <td width="15%">
            </ul>
            {{ partial "browse-by-tag.html" .}}
        </td>

    </tr>
</table>