{{ partial "header" . }}


<h1> Hi, I am Judah Newman </h1>

<div class="row">
    <div class="column">
        <img src="/img/sunflower_me.jpg" , width=40%, height=40%>
    </div>
    <div class="column">
        <img src="/img/hike_me.JPG" , width="40%" , height=40%>
    </div>
</div>
<h2>On this site I write about what I am reading and thinking about</h2>
<h4>Either select a topic below, or search the entire site!</h4>

<table style="width:100%">
    <td width="10%">
        </ul>
        {{ partial "browse-by-cat.html" .}}
    </td>
    <td height="90%">

        </div>
        <div id="fastSearch">
            <input id="searchInput" tabindex="0" ,>
            <ul id="searchResults">
            </ul>
        </div>
        <script src="/js/fuse.js"></script>
        <script src="/js/fastsearch.js"></script>

    </td>

    <td width="10%">
        </ul>
        {{ partial "browse-by-tag.html" .}}
    </td>

    </tr>
</table>





{{ partial "footer" . }}